:root{
    --sidebar-width: 70%;
    --navbar-height: 80px;
    --sidebar-item-height: 46px;
    --icon-size: 40px;
    --transition-speed: 0.3s;

    --debug-sidebar-layout: #4C9713;
    --debug-sidebar-interior: #5473ff;
    --debug-sidebar-menu: #1abc9c;
    --debug-sidebar-icones: #c83bff;
    --debug-nav-link: #fde826;

    --color-botao-padrao-laranja: #EF9300;
    --color-botao-padrao-branco: #E6E6E6;
    --color-botao-padrao-preto: #150C00;
    --color-botao-hover: #F0BB49;
    --color-botao-pressionado: #E6820E;
    --color-botao-desativado: #9D9D9D;
    --color-botao-destacado: #6AD3F8;

    --color-branco-claro: #F0F0F0;
    --color-branco: #E6E6E6;
    --color-branco-escuro: #CECECE;
    --color-verde-claro: #A7C75C;
    --color-verde: #70A826;
    --color-verde-escuro: #4C9713;
    --color-castanho-claro: #FFDABE;
    --color-castanho: #DDAF8D;
    --color-castanho-escuro: #A27868;
    --color-laranja-claro: #F9D717;
    --color-laranja: #EF9300;
    --color-laranja-escuro: #EA5E13;
    --color-azul-claro: #BDEEFF;
    --color-azul: #6AD3F8;
    --color-azul-escuro: #4090AC;
}

.iconePerfil img{
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.Navbar{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--navbar-height);
    padding: auto 0px;
    position: fixed;
    background-color: var(--color-branco-claro);
    z-index: 5;
}

.NavConteudo{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 0px 12px;
}

.SidebarLayout{
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--debug-sidebar-layout);
    position: fixed;
    top: 0;
    left: 0;
    inset: 0 auto 0 0;
    z-index: 20;
    transition: transform var(--transition-speed) ease;
}

.SidebarLayout.fechada{ transform: translateX(-100%); }
.SidebarLayout.aberta{ transform: translateX(0); }

.SidebarInterior{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--navbar-height) 0 16px;
    opacity: 0.92;
    background-color: var(--debug-sidebar-interior);
}

.FecharSidebar{
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 20px;
    color: var(--color-branco-claro);
    cursor: pointer;
}

.FecharSidebar{
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 20px;
    color: var(--color-branco-claro);
    cursor: pointer;
}

.SidebarMenu{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 1.25rem;
    padding: 0 1rem;
    background-color: var(--debug-sidebar-menu);
}

.SidebarItem{
    width: 100%;
}

.Nav-Link{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--sidebar-item-height);
    margin: 4px 0px;
    padding: 10px 16px;
    background-color: var(--debug-nav-link);
}

.NomeMenu{
    font-size: 1rem;
}

.IconeMenu{
    width: var(--icon-size);
    height: var(--icon-size);
    color: var(--color-botao-padrao-preto);
}

.IconeMenu.medio{
    width: 32px;
    height: 32px;
}
.IconeMenu.pequeno{
    width: 24px;
    height: 24px;
}

.IconeMenu, 
.IconeMenu.medio, 
.IconeMenu.pequeno{
    margin-right: 16px;
    
}

.IconeMenu, 
.IconeMenu.medio, 
.IconeMenu.pequeno :hover{
    color: var(--color-botao-hover);
    transition: transform var(--transition-speed) ease;
}

.SidebarIcones{
    width: 100%;
    height: 54px;
    box-sizing: border-box;
    margin-top: auto;
    background-color: var(--debug-sidebar-icones);
}

.fundo{
    background-image: url('/src/assets/img/Campos.png');
    height: 917px;
    width: 412px;
}

.icon{
    width: 222px;
    height: 222px;
    margin: 2rem 0;
}

.icon-pequeno{
    width: 64px;
    height: 64px;
    margin: 1rem;
}

.card{
    background-color: var(--color-branco);
    width: auto;
    height: auto;
    justify-content:space-between;
    align-items: center;
    margin: 20px auto;
    padding: 2rem;
    border-radius: 24px;
    flex-direction: column;
    gap: 16px;
}

.campotexto{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

.campotexto input,
.campotexto textarea{
    padding: 10px;
    border: 1px solid var(--color-botao-desativado);
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-botao-padrao-preto);
}

.campotexto input:focus,
.campotexto textarea:focus{
    background-color: var(--color-botao-hover);
    color: var(--color-botao-padrao-preto);
    border: var(--color-verde-claro);
}

input[type=submit]{
    background-color: var(--color-verde-claro);
    color: var(--color-branco-claro);
    font-weight: bold;
}

input[type=submit]{
    background-color: var(--color-verde-claro);
    color: var(--color-branco-claro);
    font-weight: bold;
}

.dispositivo{
    background-color: var(--color-branco);
    width: 296px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 8px;
}

.fundoicone{
    height: 64px;
    width: 64px;
    background-color: var(--color-verde-claro);
}

.descricaodispositivo{
    height: fit-content;
    width: fit-content;
}

.switch {
  height: 24px;
  width: 48px;
}

.icone-Nav{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 8px;
    cursor: pointer;
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

.icone-Nav img{
    width: 64px;
    height: 64px;
}
.form-card {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 40px 30px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-group {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #000; 
  border-radius: 4px;
  font-size: 16px;
}
.btn-cadastrar {
  background-color: #72cff8; 
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  padding: 12px 40px;
  font-size: 18px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  cursor: pointer;
}
.container-principal {
  background-image: url('/src/assets/img/Logo.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px; 
}

.tela-fundo {
  background-image: url('/src/assets/img/Campos.png'); 
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding: 20px;
}

.cabecalho-logo {
  margin-bottom: -15px; 
  z-index: 2; 
}

.icon-logo {
  width: 160px; 
  height: auto;
}


.card-cadastro {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 2rem 3rem;
  width: 60%;
  max-width: 320px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.titulo-cadastro {
  color: #4a2c11; 
  font-size: 26px;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 25px;
}


.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campotexto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 500;
  color: #000;
}


.campotexto input:focus {
  border-color: #61c6ff; 
}


.btn-cadastrar {
  background-color: #70d4fc; 
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  width: 65%; 
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25); 
  transition: transform 0.1s, opacity 0.2s;
}

.btn-cadastrar:active {
  transform: scale(0.97);
}

.btn-cadastrar:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  box-shadow: none;
}


.rodape-cadastro {
  margin-top: 25px;
  font-size: 13px;
  font-weight: 500;
  color: #000;
}

.link-login {
  color: #f39c12;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
}

.link-login:hover {
  text-decoration: underline;
}


.erro {
  color: red;
  font-size: 13px;
  margin: 5px 0;
}



.cabecalho-logo {
  margin-bottom: 50px; 
  z-index: 2;
}


.campotexto input {
  width: 100%;
  align-items: center;

  padding: 12px 10px; 
  margin-top: 5px;
  border: 2px solid #000000; 
  border-radius: 2px; 
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #000 !important;
}


.campotexto input::placeholder {
  color: #a0a0a0;
  font-weight: 500;
}


.btn-cadastrar {
  background-color: #61d0ff; 
  color: #000;
  border: none;
  border-radius: 12px; 
  padding: 14px 0;
  width: 70%; 
  font-size: 16px;
  font-weight: 600; 
  cursor: pointer;
  margin-top: 20px;
 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 3px 0px rgba(97, 208, 255, 0.5); 
  transition: transform 0.1s;
}


.rodape-cadastro {
  margin-top: 30px;
  font-size: 13px;
  font-weight: 600;
  color: #000;
}

.link-login {
  color: #f39c12;
  font-weight: 700;
  text-decoration: none;
  margin-left: 5px;
}

.cardHome{
  width: 396px;
  height: 200px;
  align-items: stretch;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  margin: 16px auto;
}

.cardImg{
  width: 50%;
  height: auto;
  flex: 0 0 38%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--color-azul-claro);
}

.cardConteudo{
  width: 50%;
  height: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-color: var(--color-verde-escuro);
  padding: 16px 0;
}

.cardIcone{
  width: 156px;
  height: 158px;
  margin: 8px;
}

h1.cardTitulo{
  color: var(--color-branco-claro);
}

p.cardTexto{
  color: var(--color-branco-claro);
  margin: 0 16px;
  text-align: center;
}

button.cardBotao{
  background-color: var(--color-laranja);
  color: var(--color-branco-claro);
  align-self: flex-start;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 4px auto;
}

.cardBotao img{
  fill: var(--color-botao-padrao-preto)
}