.fundo{
    background-image: url('/src/assets/img/Campos.png');
    height: 917px;
    width: 412px;
}

.icon{
    width: 222px;
    height: 222px;
    margin: 2rem 0;
}

.icon-pequeno{
    width: 64px;
    height: 64px;
    margin: 1rem;
}

.card{
    background-color: #f6f6f6;

    width: auto;
    height: auto;
    justify-content:space-between;
    align-items: center;
    margin: 20px auto;
    padding: 2rem;
    border-radius: 24px;
    flex-direction: column;
    gap: 16px;
}

.campotexto{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

.campotexto input,
.campotexto textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.campotexto input:focus,
.campotexto textarea:focus{
    background-color: #ddd;
    border: #1abc9c;
}

input[type=submit]{
    background-color: #1abc9c;
    color: #fff;
    font-weight: bold;
}

input[type=submit]{
    background-color: #1abc9c;
    color: #fff;
    font-weight: bold;
}
