@font-face {
    font-family: 'inclusive-sans';
    src: url('/src/assets/fonts/Inclusive_Sans/InclusiveSans-VariableFont_wght.ttf');
}

body{
    font-family: 'inclusive-sans';
    font-size: 16px;
    width: 412px;
    height: 917px;
    margin: 0;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    padding: 0px 8px;
}

h1{
    font-size: 36px;
    font-weight: bold;
    margin: 0px;
    padding: 12px;
    text-align: center;
}

h2{
    font-size: 28px;
    font-weight: bold;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

p:link, p:visited {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    color: black;
}


p:hover, p:active {
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

.legendas{
    font-size: 12px;
    color: #EF9300;
}
